.form {
  position: relative;

  & .form__icon {
    fill: #212121;
    margin-right: 15px;
  }
  & input {
    border: 0;
    background-color: transparent;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
  }
  & input::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
  &:has(input:focus) .form__fieldset:has(input:focus) {
    border-color: var(--main-link-color);
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
  }
  &:has(textarea:focus) .form__fieldset--comment:has(textarea:focus) {
    border-color: var(--main-link-color);
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
  }
}
.form__icon {
  width: 12px;
  height: 12px;
  margin-top: 14px;
  margin-left: 15px;
}
.form__header {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-top: 40px;
  padding-bottom: 12px;
}

.form__fieldset {
  position: relative;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  display: flex;
  margin-block: 28px;
  margin-inline: 40px;

  &:has(input:focus) .form__icon {
    fill: var(--main-link-color);
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-timing-function);
  }
}

.form__input {
  height: 40px;
  width: 80%;
}
.form__comment {
  height: 120px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #212121;
  outline: 0;
  border: none;
  width: 100%;
  resize: none;
}
.form__fieldset--comment {
  margin-bottom: 20px;
  position: relative;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  display: flex;
  margin-block: 28px;
  margin-inline: 40px;
}
.form__label {
  position: absolute;
  top: -20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--font-background-color);
}

input:focus {
  outline: 0;
}

.my-input {
  font-size: 14px;
  line-height: 24px;
  color: var(--font-background-color);
  position: relative;
}
.form__checkbox {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--font-background-color);
  margin-left: 40px;
  position: relative;
  cursor: pointer;
  padding-left: 38px;

  & input {
    position: absolute;
    cursor: pointer;
    width: 0;
    height: 0;
    opacity: 0;
  }
  & .form__checkmark {
    position: absolute;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    left: 15px;
    top: -2px;
  }
  & input:checked ~ .form__checkmark::after {
    display: block;
  }
}

.form__check-icon {
  position: absolute;
  left: 17px;
  top: 1px;
}

.form__checkmark::after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 15px;
  left: -2px;
  border: 2px solid var(--main-link-color);
  border-radius: 2px;
  background-color: var(--main-link-color);
  display: none;
  top: -2px;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.form__regulamin {
  text-decoration: none;
  color: var(--main-link-color);
  font-size: 14px;
  line-height: 24px;
  text-decoration: underline;
}
.form__submit {
  width: 200px;
  height: 50px;
  background: var(--main-link-color);
  border: var(--main-link-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: auto;
  letter-spacing: 0.06em;
  margin-top: 30px;
  cursor: pointer;
  color: var(--main-background-color);
  margin-bottom: 40px;
}
