.list {
  background-color: var(--main-background-color);
}
@media screen and (max-width: 768px) {
  .list {
    max-width: 480px;
  }
}
.list--padding {
  padding-top: 0;
  background-color: var(--main-background-color);

  @media screen and (max-width: 1200px) {
    display: none;
  }
}
.images-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  @media screen and (max-width: 768px) {
    max-width: 450px;
  }

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    padding-bottom: 45px;
    padding-top: 60px;
  }
  @media screen and (min-width: 1200) {
    padding: 0;
  }
}

.list-team {
  background-color: #f5f4fa;
}


// .list {
//   background-color: var(--main-background-color);
// }
// @media screen and (max-width: 768px) {
//   .list {
//     max-width: 480px;
//   }
// }
// .list--padding {
//   padding-top: 0;
//   background-color: var(--main-background-color);

//   @media screen and (max-width: 1200px) {
//     display: none;
//   }
// }
// .images-list {
//   display: flex;
//   flex-wrap: wrap;
//   gap: 30px;

//   @media screen and (max-width: 768px) {
//     max-width: 450px;
//   }

//   @media screen and (min-width: 768px) and (max-width: 1200px) {
//     padding-bottom: 45px;
//     padding-top: 60px;
//   }
//   @media screen and (min-width: 1200) {
//     padding: 0;
//   }
// }

// .list-team {
//   background-color: #f5f4fa;
// }
