.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  max-height: 609px;
  background-color: var(--main-background-color);
  z-index: 2;
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    max-height: 581px;
  }
}
.modal__btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--main-background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
}
.modal__close-btn {
  width: 18px;
}
