.our-team {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  flex-basis: 100px;

  @media screen and (min-width: 768px) and (max-width: 1200px) {
    flex-basis: calc((100% - 60px) / 2);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.our-team__list {
  @media screen and (max-width: 480px) {
    max-width: 100%;
    height: auto;
  }
}
.our-team__figure {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--main-background-color);
  max-width: 100%;

  @media screen and (max-width: 768px) {
    width: 450px;
  }
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    width: 354px;
    height: 336x;
  }
}
.our-team__img {
  width: 100%;
  height: auto;

  @media screen and (min-width: 480px) and (max-width: 768px) {
    width: 450px;
    height: 460px;
  }
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    width: 354px;
    height: 336x;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
    height: 260px;
  }
}
.our-team__name {
  font-size: 16px;
  line-height: 1.17;
  font-weight: 500;
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
}
.our-team__description {
  font-size: 16px;
  line-height: 1.17;
  color: var(--font-background-color);
  text-align: center;
}
