.social-media {
  padding-top: 16px;
  padding-bottom: 30px;
  display: flex;
  flex-basis: calc((100% - 30px) / 4);
  gap: 10px;
  justify-content: space-between;
  padding-left: 122px;
  padding-right: 122px;

  @media screen and (max-width: 480px) {
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
    align-items: center;
  }
  @media screen and (min-width: 768px) {
    padding-left: 74px;
    padding-right: 74px;
  }
  @media screen and (min-width: 1200px) {
    padding-left: 32px;
    padding-right: 32px;
  }
}
.social-media__image {
  transition-property: color;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);

  &:hover,
  &:focus .social-media__icon:hover {
    --color4: var(--main-background-color);
    fill: var(--color4);
  }
}

.social-media__icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-background-color);
  cursor: pointer;
  transition-property: background-color, transform;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);

  &:hover,
  &:focus {
    background-color: #2196f3;
    --color4: var(--main-background-color);
    fill: var(--main-background-color);
  }
}
