.section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .section-title {
    font-size: 36px;
    line-height: 1.17;
    font-weight: 700;
    text-align: center;
    padding-bottom: 50px;
  }